//  === Variables ===

$bg-main: #111;
$text-main: #f5f5f5;
$taskbar-height: 48px;

$taskbar-bg: oklch(24.989% 0.02572 258.356);
$taskbar-border: oklch(30.615% 0.02895 256.863);

$item-radius: 6px;

// === Reset ===
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// === Global ===

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $bg-main;
  color: $text-main;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

// === Element Reset ===

button,
input {
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

input {
  background: transparent;
}

// ===== Desktop Shell =====

.desktop-shell {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

// ===== Desktop Area =====

.desktop-area {
  flex: 1;

  position: relative;
  overflow: hidden;
  background-image: url("./images/Pixel-World.png");
  background-size: cover;
  background-position: center;
}

// ===== Desktop Icons =====

.desktop-icons {
  position: relative;
  z-index: 1;
}

// ===== Context Layer =====

.context-layer {
  position: absolute;
  inset: 0;
  z-index: 50;
  pointer-events: none;
}

// Overlay Layer

.overlay-layer {
  position: absolute;
  inset: 0;
  z-index: 100;
  pointer-events: none;
}

// ===== Taskbar =====

.taskbar {
  position: relative;

  height: $taskbar-height;

  display: flex;
  align-items: center;

  padding-inline: 10px;

  background-color: $taskbar-bg;
  border-top: 1px solid $taskbar-border;
}

// ===== Taskbar Regions =====

.taskbar-left,
.taskbar-center,
.taskbar-right {
  height: 100%;
  display: flex;
  align-items: center;
}

.taskbar-center {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  gap: 6px;
}

.taskbar-right {
  margin-left: auto;
  gap: 2px;
}

// ===== Taskbar Items =====

.taskbar-item {
  height: 85%;

  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: $item-radius;

  // ===== Taskbar Items =====

  & i {
    font-size: 1.2rem;
  }
}

// ===== Start Trigger =====

.start-trigger {
  & i {
    font-size: 1.5rem;

    color: transparent;

    background-image: linear-gradient(
      to bottom right,
      oklch(83.412% 0.10294 205.624),
      oklch(71.03% 0.16607 242.049)
    );

    background-clip: text;
  }
}

// ===== Taskbar Search =====

.taskbar-search {
  height: 80%;

  display: flex;
  align-items: center;
  gap: 8px;

  padding-inline: 12px;

  border-radius: 999px;

  background-color: oklch(100% 0.00011 271.152 / 0.08);
}

// ===== Search Button =====

.search-submit {
  display: flex;
  align-items: center;
  justify-content: center;

  color: inherit;
}

// ===== Search Input =====

.search-input {
  width: 180px;

  font-size: 0.9rem;
}

// ===== Taskbar Apps =====

.taskbar-apps {
  display: flex;
  align-items: center;
  gap: 8px;

  & img {
    width: 22px;

    aspect-ratio: 1/1;

    object-fit: contain;
  }
}

// ===== Language Trigger =====

.language-trigger {
  padding-inline: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 0.65rem;
  line-height: 1.1;
}

// ===== Quick Action Trigger =====

.quick-action-trigger {
  display: flex;
  align-items: center;
  gap: 6px;

  padding-inline: 10px;
  font-size: 0.9rem;
}

// ===== Notification Trigger =====

.notification-trigger {
  padding-inline: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  font-size: 0.65rem;
  line-height: 1.2;

  width: 75px;
}

// ===== Show Desktop Trigger =====

.show-desktop-trigger {
  width: 10px;
  height: 100%;
}

// ===== Panel System =====

.panel {
  position: absolute;

  pointer-events: auto;

  border-radius: 18px;

  background-color: rgba(25, 25, 28, 0.85);

  backdrop-filter: blur(20px);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

// ===== Start Menu =====

.start-menu {
  width: 620px;

  padding: 20px;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

// ===== Start Search =====

.start-search {
  height: 48px;

  display: flex;

  align-items: center;

  gap: 10px;

  padding-inline: 14px;

  border-radius: 14px;

  background-color: rgba(255, 255, 255, 0.06);
}

.start-search-input {
  flex: 1;

  font-size: 0.95rem;
}

//  ===== Start Section =====

.start-section {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

// ===== Section Header =====

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  font-size: 0.9rem;
  font-weight: 500;
}

.section-action {
  font-size: 0.8rem;
}

// ===== Start Grid =====

.start-grid {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}

// ===== Start App =====

.start-app {
  width: 86px;
  aspect-ratio: 1/1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 8px;

  padding: 12px;

  text-align: center;

  border-radius: 12px;
}

.start-app-icon {
  width: 36px;
  aspect-ratio: 1/1;

  border-radius: 10px;

  background: linear-gradient(135deg, #4f46e5, #06b6d4);
}

.start-app-name {
  font-size: 0.75rem;
}

// ===== Recommended List =====

.recommended-list {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

// ===== Recommended Item =====

.recommended-item {
  width: 45%;

  display: flex;
  align-items: center;

  gap: 12px;

  padding: 10px;

  border-radius: 12px;
}

// ===== Recommended Icon =====

.recommended-icon {
  width: 36px;
  aspect-ratio: 1/1;

  border-radius: 10px;

  background: linear-gradient(135deg, #f59e0b, #ef4444);
}

// ===== Recommended Content =====

.recommended-content {
  display: flex;
  flex-direction: column;

  gap: 2px;
}

// ===== Recommended Text =====

.recommended-title {
  font-size: 0.82rem;
}

.recommended-meta {
  font-size: 0.72rem;

  opacity: 0.7;
}

// ===== Start Footer =====

.start-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 8px;
}

// ===== Profile Trigger =====

.profile-trigger {
  display: flex;
  align-items: center;

  gap: 10px;

  padding: 8px 10px;

  border-radius: 12px;
}

// ===== Profile Avatar =====

.profile-avatar {
  width: 32px;
  aspect-ratio: 1/1;

  border-radius: 50%;

  background: linear-gradient(135deg, #10b981, #3b82f6);
}

//  ===== Profile Name =====

.profile-name {
  font-size: 0.85rem;
}

// ===== Profile-trigger =====

.power-trigger {
  width: 38px;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
}

// ===== Language Panel =====

.language-panel {
  width: 320px;

  padding: 14px;

  display: flex;
  flex-direction: column;

  gap: 14px;
}

// ===== Language Header =====

.language-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language-title {
  font-size: 0.9rem;
  font-weight: 500;
}

.language-shortcut {
  font-size: 0.72rem;

  opacity: 0.7;
}

// ===== Language List =====

.language-list {
  display: flex;
  flex-direction: column;

  gap: 6px;
}

// ===== Language Item =====

.language-item {
  display: flex;
  align-items: center;

  gap: 12px;

  padding: 10px;

  border-radius: 12px;
}

// ===== Language Indicator =====

.language-indicator {
  width: 4px;
  height: 32px;

  border-radius: 999px;

  background-color: transparent;
}

// ===== Active Language =====

.active-language {
  background-color: rgba(255, 255, 255, 0.06);

  .language-indicator {
    background-color: #3b82f6;
  }
}

// ===== Language Content =====

.language-content {
  display: flex;
  flex-direction: column;

  gap: 2px;
}

// ===== Language Footer =====

.language-footer {
  padding-top: 4px;
}

.language-settings-trigger {
  font-size: 0.8rem;

  opacity: 0.8;
}

// ===== Quick Action Panel =====

.quick-action-panel {
  width: 360px;

  padding: 16px;

  display: flex;
  flex-direction: column;

  gap: 10px;
}

// ===== Action Grid =====

.action-grid {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}

// ===== Action Item =====

.action-item {
  width: calc(33.333% - 7px);
  height: 86px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;

  border-radius: 14px;

  background-color: rgba(255, 255, 255, 0.04);
}

// ===== Action Label =====

.action-label {
  font-size: 0.78rem;
}

// ===== Action Active =====

.active-action {
  background-color: rgba(216, 180, 254, 0.9);

  color: #111;
}

// ===== Slider Group =====

.action-slider-group {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

// ===== Slider Header =====

.slider-header {
  display: flex;
  align-items: center;

  gap: 10px;

  font-size: 0.82rem;
}

// ===== Action Slider =====

.action-slider {
  width: 100%;
}

// ===== Action Footer =====

.action-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 8px;
}

// ===== Battery Status =====

.battery-status {
  display: flex;
  align-items: center;

  gap: 8px;

  font-size: 0.85rem;
}

// ===== Settings Trigger =====

.action-settings-trigger {
  width: 34px;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
}

// ===== Tray Panel =====

.tray-panel {
  padding: 12px;

  border-radius: 16px;
}

// ===== Tray Grid =====

.tray-grid {
  display: flex;
  align-items: center;

  gap: 8px;
}

// ===== Tray Item =====

.tray-item {
  width: 42px;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 10px;
}

// ===== Tray Icon =====

.tray-icon {
  width: 24px;
  aspect-ratio: 1/1;

  border-radius: 4px;

  background: linear-gradient(135deg, #22c55e, #06b6d4);
}

// ===== Notification Panel =====

.notification-panel {
  width: 360px;

  display: flex;
  flex-direction: column;

  gap: 12px;
}

// ===== Notification Panel Sections > Notification Section and calendar Section =====

.notification-section,
.calendar-section {
  padding: 16px;

  border-radius: 18px;

  background-color: rgba(255, 255, 255, 0.04);
}

// ===== Notification Header =====

.notification-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// ===== Notification Empty State =====

.notification-empty-state {
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.82rem;

  opacity: 0.7;
}

// ===== calendar Header, calendar Month Header, calendar Footer =====

.calendar-header,
.calendar-month-header,
.calendar-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// ===== calendar Weekdays =====

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  margin-top: 18px;

  text-align: center;

  font-size: 0.72rem;

  opacity: 0.7;
}

// ===== Calendar Grid =====

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  gap: 6px;

  margin-top: 14px;
}

// ===== calendarlets start Day =====

.calendar-day {
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  font-size: 0.82rem;
}

// ===== Day Sates > Active day, Muted Day =====

.active-day {
  background-color: #d8b4fe;

  color: #111;
}

.muted-day {
  opacity: 0.35;
}

// ===== Focus Time =====

.focus-time {
  display: flex;
  align-items: center;

  gap: 10px;
}

// ===== Focus Trigger =====

.focus-trigger {
  padding: 8px 14px;

  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.06);
}

// ===== Calender Section expand =====
.calendar-section[data-calendar-expanded="false"] {
  .calendar-month-header,
  .calendar-weekdays,
  .calendar-grid,
  .calendar-footer {
    display: none;
  }
}

// ===== Panel States =====

.panel {
  opacity: 0;

  visibility: hidden;

  transform: translateY(10px) scale(0.98);

  pointer-events: none;

  transition:
    opacity 0.18s ease,
    transform 0.18s ease,
    visibility 0.18s ease;
}

.panel.active-panel {
  opacity: 1;

  visibility: visible;

  transform: translateY(0) scale(1);

  pointer-events: auto;
}

// ===== Start Menu Position =====

.start-menu {
  position: absolute;

  bottom: 14px;
  left: 32%;

  transform: translate(-50% 0%);
}

// ===== Language Panel Position =====

.language-panel {
  position: absolute;

  right: 14px;
  bottom: 14px;
}

// ===== Quick Action Panel Position =====

.quick-action-panel {
  position: absolute;

  right: 14px;
  bottom: 14px;
}

// ===== Tray Panel Position =====

.tray-panel {
  position: absolute;

  right: 190px;
  bottom: 14px;
}

// ===== Notification Panel Position =====

.notification-panel {
  position: absolute;

  right: 14px;
  bottom: 14px;
}

// ===== Context Menu =====

.context-menu {
  position: absolute;

  width: 220px;

  padding: 8px;

  border-radius: 14px;

  background-color: rgba(25, 25, 28, 0.85);

  backdrop-filter: blur(20px);

  display: none;
}

// ===== Context Item =====

.context-item {
  width: 100%;

  display: flex;
  align-items: center;

  gap: 10px;

  pad: 10px;

  border-radius: 10px;
}

// ===== Context Divider =====

.context-divider {
  height: 1px;

  margin-block: 6px;

  background-color: rgba(255, 255, 255, 0.08);
}

// =====  =====
// =====  =====
// =====  =====
// =====  =====
// =====  =====
// =====  =====
// =====  =====
// =====  =====
// =====  =====
// =====  =====
